
<header class="container__headerWrapper">
  <div class="container__header header-bg-blue">
    <div class="header__logo">
      <img src="./assets/ascendion_logo.svg">
    </div>
    <div class="header__controls--wrapper" class="account_menu">
      <ul>
        <li class="icon-color-white">
          <collab-comp-img-generator fontClassName="icon-Search"></collab-comp-img-generator>
        </li>
        <li class="icon-color-white">
          <collab-comp-img-generator fontClassName="icon-Notification"></collab-comp-img-generator>
        </li>
        <li class="icon-color-white">
          <collab-comp-img-generator fontClassName="icon-User"></collab-comp-img-generator>
          <!-- <ul class="menu-dropdown">
            <li class="user-details">
              <collab-comp-img-generator fontClassName="icon-User"></collab-comp-img-generator>
              <span>Welcome,</span>
              <span *ngIf="!!name">{{name}}</span>
              <span *ngIf="!!role">{{role}}</span>
            </li>
            <li >Sign out</li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>
</header>
